body
{
  color: rgb(1, 132, 150);
  background: rgb(243, 255, 192);
}
.heading
{
  width: 80%;
  font-size: 22px;
}
#camera 
{
  border: 2px dotted black;
  width: 350px;
  height: 300px; 
}
.name_of_objects, #result_object_name  , #result_object_accuracy
{
  color: rgb(255, 0, 55);
}
